venv/*
.env*
*cookies.pkl
cookies/*.json
debug/*
__pycache__/
debug_acgme/
nohup.out
logs/*
.DS_Store
local_files_backup/

# macOS and Python temp files
.coverage
pytest_cache/
*.pyc
*.pyo
*.pyd
*.log
